SQLALCHEMY_DATABASE_URI=
JWT_SECRET_KEY=



#Empty values, just the key names. Professional habit.
#this one DOES go to GitHub. 
#It shows other developers what variables they need without exposing your actual values: