SQLALCHEMY_DATABASE_URI=
JWT_SECRET_KEY=
GROQ_API_KEY=
CORS_ORIGINS=https://ish200565.github.io



#Empty values, just the key names. Professional habit.
#this one DOES go to GitHub. 
#It shows other developers what variables they need without exposing your actual values: